In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]") \
                    .appName('nyc-taxi.com') \
                    .getOrCreate()

In [2]:
df = spark.read.parquet('data/yellow_tripdata_2025-01.parquet', header=True, inferSchema=True)
sample_df = df.sample(withReplacement=False, fraction=0.01, seed=42)

print("Total original:", df.count())
print("Total amostrado:", sample_df.count())

Total original: 3475226
Total amostrado: 35082

In [3]:
sample_df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-01-01 00:37:00|  2025-01-01 00:50:26|              2|         2.15|         1|                 N|         164|         125|           1|       14.2|  1.0|    0.5|      2.88|         0.0|                  1.0|       22.08|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:26:05|  2025-01-01 00:31:56|              1|         0.95|         1|                 N|         236|         262|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:48:11|  2025-01-01 00:53:42|              1|         0.98|         1|                 N|         237|         229|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:22|  2025-01-01 00:43:35|              1|          2.0|         1|                 N|         249|          13|           4|       11.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:40:46|  2025-01-01 01:04:19|              1|         2.53|         1|                 N|         141|         107|           1|       21.2|  1.0|    0.5|      5.24|         0.0|                  1.0|       31.44|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:47:38|  2025-01-01 01:21:48|              1|         3.36|         1|                 N|          68|         143|           1|       31.0|  1.0|    0.5|       9.0|         0.0|                  1.0|        45.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:52:50|  2025-01-01 01:16:38|              1|          1.9|         1|                 N|         246|         143|           2|       20.5|  3.5|    0.5|       0.0|         0.0|                  1.0|        25.5|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:31:06|  2025-01-01 00:37:30|              1|         1.54|         1|                 N|         249|         246|           1|        9.3|  1.0|    0.5|      2.14|         0.0|                  1.0|       16.44|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:21:31|  2025-01-01 00:37:56|              1|         3.25|         1|                 N|         161|         238|           1|       19.1|  1.0|    0.5|      4.82|         0.0|                  1.0|       28.92|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:43:36|  2025-01-01 00:51:58|              1|         1.14|         1|                 N|         237|         237|           1|       10.0|  1.0|    0.5|      20.0|         0.0|                  1.0|        35.0|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:48:45|  2025-01-01 00:59:13|              2|         1.38|         1|                 N|         158|          79|           2|       10.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        15.7|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:20:13|  2025-01-01 00:26:38|              1|         1.26|         1|                 N|         249|         231|           1|        8.6|  1.0|    0.5|      0.08|         0.0|                  1.0|       13.68|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:56:06|  2025-01-01 01:07:12|              1|         1.09|         1|                 N|         234|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:32:42|  2025-01-01 00:40:31|              1|          1.0|         1|                 N|          68|         234|           2|        8.6|  1.0|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:09:55|  2025-01-01 00:19:19|              1|          0.7|         1|                 N|         164|          68|           1|        9.3|  1.0|    0.5|      4.29|         0.0|                  1.0|       18.59|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:59:01|  2025-01-01 01:35:36|              1|         9.57|         1|                 N|         142|         198|           1|       45.7|  1.0|    0.5|     11.53|        6.94|                  1.0|       69.17|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:43:59|  2025-01-01 00:46:54|              1|          0.6|         1|                 N|         239|         238|           1|        5.1|  3.5|    0.5|      3.05|         0.0|                  1.0|       13.15|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:37:38|  2025-01-01 00:50:46|              1|         1.78|         1|                 N|         161|         164|           1|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|        18.5|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:42:28|  2025-01-01 00:50:26|              1|          1.3|         1|                 N|         161|         141|           1|        8.6|  3.5|    0.5|       2.7|         0.0|                  1.0|        16.3|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:22:12|  2025-01-01 00:32:37|              1|         3.12|         1|                 N|         263|         233|           1|       15.6|  1.0|    0.5|      4.12|         0.0|                  1.0|       24.72|                 2.5|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [4]:
sample_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [5]:
print(sample_df.count())
print(df.count())

35082
3475226

Limpeza, filtragem e transformação de dados.

In [6]:
from pyspark.sql.functions import count, when, col

sample_df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       0|                   0|                    0|           5483|            0|      5483|              5483|           0|           0|           0|          0|    0|      0|         0|           0|                    0|           0|                5483|       5483|                 0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+

In [7]:
sample_df = sample_df.dropDuplicates()
print('df.count após dropar duplicatas: ', sample_df.count())

df.count após dropar duplicatas:  35082

In [8]:
sample_df = sample_df.filter(col("tpep_pickup_datetime").isNotNull()) \
       .filter(col("tpep_dropoff_datetime").isNotNull()) \
       .filter(col("trip_distance") > 0) \
       .filter(col("fare_amount") >= 0) \
       .filter(col("total_amount") > 0) \
       .filter(col("passenger_count") > 0) \
       .filter(col("RatecodeID").isNotNull()) \
       .filter(col("passenger_count").isNotNull()) \
       .filter(col("store_and_fwd_flag").isNotNull()) \
       .filter(col("congestion_surcharge").isNotNull()) \
       .filter(col("Airport_fee").isNotNull())

print(sample_df.count())

28440

In [9]:
sample_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-01-01 10:48:53|  2025-01-01 10:52:59|              1|         2.61|         1|                 N|         132|          10|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|       15.35|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 13:09:45|  2025-01-01 13:14:33|              1|         0.83|         1|                 N|         151|         151|           1|        7.2|  0.0|    0.5|       1.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 14:55:27|  2025-01-01 15:05:29|              4|         1.87|         1|                 N|         158|         107|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|        16.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 16:43:57|  2025-01-01 17:03:32|              2|         4.58|         1|                 N|          88|          48|           1|       23.3|  0.0|    0.5|      5.46|         0.0|                  1.0|       32.76|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 19:11:48|  2025-01-01 19:34:20|              1|         4.11|         1|                 N|         132|         258|           1|       24.7|  0.0|    0.5|      6.55|         0.0|                  1.0|       32.75|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import count, when, col

sample_df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       0|                   0|                    0|              0|            0|         0|                 0|           0|           0|           0|          0|    0|      0|         0|           0|                    0|           0|                   0|          0|                 0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+

In [11]:
sample_df.describe().show()

+-------+-------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|           VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+-------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|              28440|             28440|            28440|             28440|             28440|             28440|             28440|             28440|             28440|             28440|              28440|             28440|             28440|                28440|             28440|               28440|              28440|              28440|
|   mean| 1.7775668073136428|1.3040084388185653| 3.17696308016879|2.2887482419127987|              NULL|167.03372011251759|166.88927566807314|1.1723980309423347|17.931606188466976|1.5911040787623065|  0.495771800281294|3.5477802390998074| 0.542145218002822|   0.9884317862165963|27.421531645569523|  2.3335091420534457|0.13143459915611813| 0.4911919831223629|
| stddev|0.43570744743284673|0.7379621755271004|4.337706578127692|10.879985840811031|              NULL| 62.80187483704861| 68.58164408022209|0.4734125362257193|17.238183854524493|1.8885854856680284|0.05297309282101151|3.8298248947589593|2.1436591619217973|  0.10693358817744898|21.761726750293825|  0.6233150087906298|0.46124069105176413|0.35655138918771634|
|    min|                  1|                 1|             0.01|                 1|                 N|                 1|                 1|                 1|               0.0|               0.0|                0.0|               0.0|               0.0|                  0.0|              3.25|                 0.0|                0.0|                0.0|
|    max|                  7|                 6|            83.67|                99|                 Y|               265|               265|                 4|             553.2|              12.5|               4.75|             83.52|             37.94|                  1.0|             555.2|                 2.5|               1.75|               0.75|
+-------+-------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

In [12]:
df = df.filter(col("RatecodeID").isin([1, 2, 3, 4, 5, 6])) \
       .filter(col("payment_type").isin([0, 1, 2, 3, 4, 5, 6])) \
       .filter(col("store_and_fwd_flag").isin(["Y", "N"]))

print(sample_df.count())

28440

In [13]:
from pyspark.sql.functions import year, month, dayofmonth, hour, dayofweek

sample_df = sample_df.withColumn("year", year("tpep_pickup_datetime")) \
       .withColumn("month", month("tpep_pickup_datetime")) \
       .withColumn("day", dayofmonth("tpep_pickup_datetime")) \
       .withColumn("hour", hour("tpep_pickup_datetime")) \
       .withColumn("day_of_week", dayofweek("tpep_pickup_datetime"))  # 1=domingo, 7=sábado

sample_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|year|month|day|hour|day_of_week|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+
|       2| 2025-01-01 10:48:53|  2025-01-01 10:52:59|              1|         2.61|         1|                 N|         132|          10|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|       15.35|                 0.0|       1.75|               0.0|2025|    1|  1|  10|          4|
|       2| 2025-01-01 13:09:45|  2025-01-01 13:14:33|              1|         0.83|         1|                 N|         151|         151|           1|        7.2|  0.0|    0.5|       1.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|2025|    1|  1|  13|          4|
|       2| 2025-01-01 14:55:27|  2025-01-01 15:05:29|              4|         1.87|         1|                 N|         158|         107|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|        16.1|                 2.5|        0.0|               0.0|2025|    1|  1|  14|          4|
|       2| 2025-01-01 16:43:57|  2025-01-01 17:03:32|              2|         4.58|         1|                 N|          88|          48|           1|       23.3|  0.0|    0.5|      5.46|         0.0|                  1.0|       32.76|                 2.5|        0.0|               0.0|2025|    1|  1|  16|          4|
|       2| 2025-01-01 19:11:48|  2025-01-01 19:34:20|              1|         4.11|         1|                 N|         132|         258|           1|       24.7|  0.0|    0.5|      6.55|         0.0|                  1.0|       32.75|                 0.0|        0.0|               0.0|2025|    1|  1|  19|          4|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+
only showing top 5 rows

In [14]:
from pyspark.sql.functions import unix_timestamp, round

sample_df = sample_df.withColumn("trip_duration", round((unix_timestamp("tpep_dropoff_datetime") - unix_timestamp("tpep_pickup_datetime")) / 60, 2))

sample_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+-------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|year|month|day|hour|day_of_week|trip_duration|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+-------------+
|       2| 2025-01-01 10:48:53|  2025-01-01 10:52:59|              1|         2.61|         1|                 N|         132|          10|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|       15.35|                 0.0|       1.75|               0.0|2025|    1|  1|  10|          4|          4.1|
|       2| 2025-01-01 13:09:45|  2025-01-01 13:14:33|              1|         0.83|         1|                 N|         151|         151|           1|        7.2|  0.0|    0.5|       1.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|2025|    1|  1|  13|          4|          4.8|
|       2| 2025-01-01 14:55:27|  2025-01-01 15:05:29|              4|         1.87|         1|                 N|         158|         107|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|        16.1|                 2.5|        0.0|               0.0|2025|    1|  1|  14|          4|        10.03|
|       2| 2025-01-01 16:43:57|  2025-01-01 17:03:32|              2|         4.58|         1|                 N|          88|          48|           1|       23.3|  0.0|    0.5|      5.46|         0.0|                  1.0|       32.76|                 2.5|        0.0|               0.0|2025|    1|  1|  16|          4|        19.58|
|       2| 2025-01-01 19:11:48|  2025-01-01 19:34:20|              1|         4.11|         1|                 N|         132|         258|           1|       24.7|  0.0|    0.5|      6.55|         0.0|                  1.0|       32.75|                 0.0|        0.0|               0.0|2025|    1|  1|  19|          4|        22.53|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+-------------+
only showing top 5 rows

In [15]:
sample_df = sample_df.withColumn("trip_distance", col("trip_distance") * 1.60934)

sample_df.show(5)

+--------+--------------------+---------------------+---------------+-----------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+-------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|    trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|year|month|day|hour|day_of_week|trip_duration|
+--------+--------------------+---------------------+---------------+-----------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+-------------+
|       2| 2025-01-01 10:48:53|  2025-01-01 10:52:59|              1|        4.2003774|         1|                 N|         132|          10|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|       15.35|                 0.0|       1.75|               0.0|2025|    1|  1|  10|          4|          4.1|
|       2| 2025-01-01 13:09:45|  2025-01-01 13:14:33|              1|        1.3357522|         1|                 N|         151|         151|           1|        7.2|  0.0|    0.5|       1.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|2025|    1|  1|  13|          4|          4.8|
|       2| 2025-01-01 14:55:27|  2025-01-01 15:05:29|              4|        3.0094658|         1|                 N|         158|         107|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|        16.1|                 2.5|        0.0|               0.0|2025|    1|  1|  14|          4|        10.03|
|       2| 2025-01-01 16:43:57|  2025-01-01 17:03:32|              2|        7.3707772|         1|                 N|          88|          48|           1|       23.3|  0.0|    0.5|      5.46|         0.0|                  1.0|       32.76|                 2.5|        0.0|               0.0|2025|    1|  1|  16|          4|        19.58|
|       2| 2025-01-01 19:11:48|  2025-01-01 19:34:20|              1|6.614387400000001|         1|                 N|         132|         258|           1|       24.7|  0.0|    0.5|      6.55|         0.0|                  1.0|       32.75|                 0.0|        0.0|               0.0|2025|    1|  1|  19|          4|        22.53|
+--------+--------------------+---------------------+---------------+-----------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+---+----+-----------+-------------+
only showing top 5 rows

In [16]:
sample_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- trip_duration: double (nullable = true)

In [17]:
from pyspark.sql.functions import year, month, dayofmonth, hour, dayofweek, monotonically_increasing_id

dim_tempo = sample_df.select(
    year("tpep_pickup_datetime").alias("year"),
    month("tpep_pickup_datetime").alias("month"),
    dayofmonth("tpep_pickup_datetime").alias("day"),
    hour("tpep_pickup_datetime").alias("hour"),
    dayofweek("tpep_pickup_datetime").alias("day_of_week")
)
print("dim_tempo sem remover duplicata: ", dim_tempo.count())
dim_tempo = dim_tempo.dropDuplicates(["year", "month", "day", "hour", "day_of_week"])
print("dim_tempo removendo duplicata: ", dim_tempo.count())


dim_tempo = dim_tempo.withColumn("dim_tempo_id", monotonically_increasing_id())

dim_tempo sem remover duplicata:  28440
dim_tempo removendo duplicata:  737

In [18]:
from pyspark.sql.functions import col, when

dim_pagamento = sample_df.select("payment_type").dropDuplicates()

dim_pagamento = dim_pagamento.withColumn("descricao",
    when(col("payment_type") == 1, "Cartão")
    .when(col("payment_type") == 2, "Dinheiro")
    .when(col("payment_type") == 3, "Sem cobrança")
    .when(col("payment_type") == 4, "Contestação")
    .when(col("payment_type") == 5, "Desconhecido")
    .when(col("payment_type") == 6, "Corrida anulada")
    .otherwise("Outro")
)

dim_pagamento = dim_pagamento.withColumn("dim_pagamento_id", monotonically_increasing_id())

print("Tabela dim_pagamento:")
dim_pagamento.show()

Tabela dim_pagamento:
+------------+------------+----------------+
|payment_type|   descricao|dim_pagamento_id|
+------------+------------+----------------+
|           1|      Cartão|               0|
|           3|Sem cobrança|               1|
|           2|    Dinheiro|               2|
|           4| Contestação|               3|
+------------+------------+----------------+

In [19]:
dim_tarifa = sample_df.select("RatecodeID").dropDuplicates()

dim_tarifa = dim_tarifa.withColumn("descricao",
    when(col("RatecodeID") == 1, "Padrão")
    .when(col("RatecodeID") == 2, "JFK")
    .when(col("RatecodeID") == 3, "Newark")
    .when(col("RatecodeID") == 4, "Nassau/Westchester")
    .when(col("RatecodeID") == 5, "Tarifa negociada")
    .when(col("RatecodeID") == 6, "Corrida em grupo")
    .otherwise("Desconhecido")
)

dim_tarifa = dim_tarifa.withColumn("dim_tarifa_id", monotonically_increasing_id())

print("Tabela dim_tarifa:")
dim_tarifa.show()

Tabela dim_tarifa:
+----------+------------------+-------------+
|RatecodeID|         descricao|dim_tarifa_id|
+----------+------------------+-------------+
|         6|  Corrida em grupo|            0|
|         5|  Tarifa negociada|            1|
|         1|            Padrão|            2|
|         3|            Newark|            3|
|         2|               JFK|            4|
|         4|Nassau/Westchester|            5|
|        99|      Desconhecido|            6|
+----------+------------------+-------------+

In [20]:
df_com_tempo = sample_df.withColumn("year", year("tpep_pickup_datetime")) \
       .withColumn("month", month("tpep_pickup_datetime")) \
       .withColumn("day", dayofmonth("tpep_pickup_datetime")) \
       .withColumn("hour", hour("tpep_pickup_datetime")) \
       .withColumn("day_of_week", dayofweek("tpep_pickup_datetime"))


df_joined = df_com_tempo.join(dim_tempo, on=["year", "month", "day", "hour", "day_of_week"], how="left") \
                        .join(dim_pagamento, on="payment_type", how="left") \
                        .join(dim_tarifa, on="RatecodeID", how="left")

fato_corrida = df_joined.select(
    "passenger_count",
    "trip_distance",
    "trip_duration",
    "fare_amount",
    "tip_amount",
    "tolls_amount",
    "total_amount",
    "dim_tempo_id",
    "dim_pagamento_id",
    "dim_tarifa_id"
)

fato_corrida = fato_corrida.withColumn("corrida_id", monotonically_increasing_id())

# print("Tabela fato_corrida:")
# fato_corrida.printSchema()
fato_corrida.show()

+---------------+------------------+-------------+-----------+----------+------------+------------+------------+----------------+-------------+----------+
|passenger_count|     trip_distance|trip_duration|fare_amount|tip_amount|tolls_amount|total_amount|dim_tempo_id|dim_pagamento_id|dim_tarifa_id|corrida_id|
+---------------+------------------+-------------+-----------+----------+------------+------------+------------+----------------+-------------+----------+
|              1|         4.2003774|          4.1|       12.1|       0.0|         0.0|       15.35|         669|               2|            2|         0|
|              1|         1.3357522|          4.8|        7.2|       1.0|         0.0|         9.7|         277|               0|            2|         1|
|              4|         3.0094658|        10.03|       12.1|       0.0|         0.0|        16.1|         160|               2|            2|         2|
|              2|         7.3707772|        19.58|       23.3|      5.46|         0.0|       32.76|         650|               0|            2|         3|
|              1| 6.614387400000001|        22.53|       24.7|      6.55|         0.0|       32.75|         545|               0|            2|         4|
|              4|         4.6831794|        23.23|      21.94|       0.0|         0.0|       25.94|         383|               0|            2|         5|
|              1|         2.9450922|         10.0|       11.4|      3.08|         0.0|       18.48|         392|               0|            2|         6|
|              2|         1.4966862|         7.15|        8.6|       0.0|         0.0|        15.1|         636|               2|            2|         7|
|              1|         1.0138842|         3.03|        5.8|       0.0|         0.0|         9.8|         467|               2|            2|         8|
|              5|         4.1520972|        13.82|       15.6|       0.0|         0.0|        19.6|          80|               2|            2|         9|
|              2|          5.471756|        13.52|       18.4|       4.5|         0.0|        26.9|         670|               0|            2|        10|
|              2|         2.6071308|         8.82|       11.4|      3.28|         0.0|       19.68|         143|               0|            2|        11|
|              1|         7.9179528|        15.65|       22.6|       4.0|         0.0|       31.35|         179|               0|            2|        12|
|              5|           4.82802|        10.52|       14.2|       4.0|         0.0|       22.95|         586|               0|            2|        13|
|              1|1.6737136000000001|         5.22|        7.9|       0.0|         0.0|        11.9|         254|               2|            2|        14|
|              1|         1.2552852|         4.77|        7.2|      2.39|         0.0|       14.34|         640|               0|            2|        15|
|              1|14.001257999999998|        22.73|       36.6|       5.0|        6.94|       59.29|         582|               0|            2|        16|
|              3|         1.4162192|         5.45|        7.2|      2.24|         0.0|       13.44|         582|               0|            2|        17|
|              1|3.5405480000000003|         10.5|       12.1|       3.4|         0.0|        17.0|         156|               0|            2|        18|
|              1|         2.9289988|          9.7|       10.7|      3.86|         0.0|       19.31|         109|               0|            2|        19|
+---------------+------------------+-------------+-----------+----------+------------+------------+------------+----------------+-------------+----------+
only showing top 20 rows

In [26]:
fato_corrida.toPandas().to_csv("data_warehouse/fato_corrida.csv", index=False)
dim_tempo.toPandas().to_csv("data_warehouse/dim_tempo.csv", index=False)
dim_pagamento.toPandas().to_csv("data_warehouse/dim_pagamento.csv", index=False)
dim_tarifa.toPandas().to_csv("data_warehouse/dim_tarifa.csv", index=False)