Reports:

In [19]:
import pandas as pd

fato = pd.read_csv("data_warehouse/fato_corrida.csv")
dim_tempo = pd.read_csv("data_warehouse/dim_tempo.csv")
dim_pagamento = pd.read_csv("data_warehouse/dim_pagamento.csv")
dim_tarifa = pd.read_csv("data_warehouse/dim_tarifa.csv")

df = fato.merge(dim_tempo, on="dim_tempo_id", how="left") \
         .merge(dim_pagamento, on="dim_pagamento_id", how="left") \
         .merge(dim_tarifa, on="dim_tarifa_id", how="left")

df = df.rename(columns={"descricao_x": "tipo_pagamento", "descricao_y": "tipo_tarifa", "descricao": "tipo_pagamento"})

In [21]:
corridas_tarifa_outlier = df[df["fare_amount"] > 100][["corrida_id", "fare_amount", "total_amount", "passenger_count"]].sort_values(by="fare_amount", ascending=False)

print(corridas_tarifa_outlier)

       corrida_id  fare_amount  total_amount  passenger_count
10885       10885        553.2        555.20                2
7899         7899        389.4        420.15                1
15487       15487        338.3        444.84                2
4194         4194        264.8        305.49                1
20857       20857        227.0        237.41                2
...           ...          ...           ...              ...
10044       10044        101.0        111.19                1
10106       10106        100.7        139.01                1
26223       26223        100.7        145.21                1
21932       21932        100.3        110.49                1
15716       15716        100.3        122.16                1

[84 rows x 4 columns]

In [22]:
passageiros_por_hora_dia = df.groupby("hour")["passenger_count"].mean().reset_index(name="media_passageiros")

print(passageiros_por_hora_dia)

    hour  media_passageiros
0      0           1.367199
1      1           1.413361
2      2           1.445205
3      3           1.355450
4      4           1.487395
5      5           1.246667
6      6           1.152174
7      7           1.201835
8      8           1.182609
9      9           1.199033
10    10           1.273200
11    11           1.301937
12    12           1.298575
13    13           1.282659
14    14           1.275785
15    15           1.340245
16    16           1.354177
17    17           1.294521
18    18           1.314300
19    19           1.295977
20    20           1.329495
21    21           1.366849
22    22           1.341808
23    23           1.324123

In [29]:
arrecadacao = df.groupby(["tipo_pagamento", "tipo_tarifa"])["total_amount"].sum().reset_index(name="total_arrecadado")

print(arrecadacao)

   tipo_pagamento         tipo_tarifa  total_arrecadado
0          Cartão        Desconhecido          13127.64
1          Cartão                 JFK          73465.27
2          Cartão  Nassau/Westchester           7287.48
3          Cartão              Newark           8120.49
4          Cartão              Padrão         567760.47
5          Cartão    Tarifa negociada          11622.04
6     Contestação                 JFK           1723.60
7     Contestação  Nassau/Westchester            318.90
8     Contestação              Newark            441.70
9     Contestação              Padrão           7466.96
10    Contestação    Tarifa negociada            257.44
11       Dinheiro    Corrida em grupo              5.75
12       Dinheiro                 JFK           8699.01
13       Dinheiro  Nassau/Westchester           2130.26
14       Dinheiro              Newark            968.65
15       Dinheiro              Padrão          72787.33
16       Dinheiro    Tarifa negociada           1099.12
17   Sem cobrança                 JFK            224.50
18   Sem cobrança  Nassau/Westchester             54.15
19   Sem cobrança              Newark            112.90
20   Sem cobrança              Padrão           2159.70
21   Sem cobrança    Tarifa negociada             35.00

In [26]:
df["tem_gorjeta"] = df["tip_amount"] > 0
porcentagem_corrida_gorjeta = df.groupby("day_of_week")["tem_gorjeta"].mean().reset_index(name="proporcao_com_gorjeta")

print(porcentagem_corrida_gorjeta)

   day_of_week  proporcao_com_gorjeta
0            1               0.815040
1            2               0.812781
2            3               0.819655
3            4               0.804977
4            5               0.825951
5            6               0.797049
6            7               0.800770